@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #fff;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.6;
}
mark {
  color: #fff;
  background: none;
}
::selection {
  color: #6ca0e8;
  background: none;
}

.wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  padding-top: 80px;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: zoom-out;
}
.box {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 16px 70px;
  border-radius: 5px;
  background-color: rgba(30, 29, 30, 0.8);
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: saturate(180%) blur(20px) brightness(150%);
    backdrop-filter: saturate(180%) blur(20px) brightness(150%);
  }
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 570px;
  width: 50%;
  max-height: min(calc(100% - 30px), 460px);
  min-height: 100px;
  cursor: default;
}

.ais-SearchBox-input {
  color: #fff;
  width: 100%;
  height: 70px;
  background-color: transparent;
  border: none;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 23px;
}

.items-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  list-style-type: none;
  list-style-position: initial;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 0px;
  margin-top: 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(68, 66, 68);
}
.post-item {
  padding: 20px;
  cursor: pointer;
  @include no-select;
}
.current {
  color: #fff;
  background-color: #2a76dd;
}

.post-title {
  font-weight: 600;
  font-size: 20px;
}
.post-breadcrumbs {
  font-weight: 600;
  font-size: 16px;
}

.ais-Highlight-highlighted {
  color: #6ca0e8;
}

.hints-wrapper {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 12px;
  line-height: 14px;
  color: rgb(188, 187, 188);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(68, 66, 68);
  display: none;
}
